<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">-->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
</head>
<body>
  <header style="background-color: brown;">
    <div class="container py-2">
      <div class="d-flex justify-content-start align-items-center">
        <img src="https://survey-studio.com/images/ss2_logo_white.svg" alt="SURVEYSTUDIO_LOGO" style="height: 40px;">
      </div>
    </div>
  </header>
  
  <main>
    <div class="container py-3">
      <form class="border p-3" action="/login" method="post" enctype="multipart/form-data">
        <div class="form-group mb-3">
          <h6 class="form-group text-start px-1 mb-3">
            Введите пароль
          </h6>
          <div class="input-group">
            <input type="password" class="form-control" id="password" name="password" autocomplete required>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Подтвердить</button>
      </form>
    </div>
  </main>

</body>
</html>